@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SoftwareHouseManagementBlazor.
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in positions)
            {
                <tr>
                    <td>@position.Date.ToShortDateString()</td>
                    <td>@position.TemperatureC</td>
                    <td>@position.TemperatureF</td>
                    <td>@position.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Position[] positions;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            position = await Http.GetFromJsonAsync<Position[]>("Positions");}
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
